.changeBtn {
    padding: 1em;
    border: none;
    color: white;
    border-radius: 7px;
    background-color: rgb(64, 150, 207);
    transition: all 0.2s ease;
}

.changeBtn:hover {
    background-color: rgb(31, 105, 167);
}